


<div class="container">
  <!--<form action="" (submit)="sendFeedBack()">-->
      <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
    <div class="form-group">
      <label for="first_name">First name:</label>
      <!--<input type="text" class="form-control" id="first_name" [(ngModel)]="model.first_name">--><!--two way binding-->
      <input type = "text" name = "first_name" class="form-control" placeholder = "first_name" ngModel>
    </div>
    <div class="form-group">
      <label for="last_name">Last_name:</label>
      <!--<input type="text" class="form-control" id="last_name" [(ngModel)]="model.last_name">-->
      <input type = "text" name = "last_name" class="form-control" placeholder = "last_name" ngModel>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <!--<input type="text" class="form-control" id="age" [(ngModel)]="model.age">-->
      <input type = "text" name = "age"  class="form-control" placeholder = "age" ngModel>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <!--<input type="text" class="form-control" id="email" [(ngModel)]="model.email">-->
      <input type = "text" name = "email" class="form-control" placeholder = "email" ngModel>
    </div>
    <button type="submit"  class="btn btn-success">Submit</button>
  </form>
  <br>
  <br>
  <br>

</div>
